a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  position: relative;
  min-height: 100vh;
  font-family: "ProximaNova", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #000; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.contain {
  width: 1352px;
  margin-left: auto;
  margin-right: auto; }

.contain-big {
  width: 1800px; }

section {
  padding: 100px 0; }

.like-h2-l {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  font-weight: 700;
  font-family: "RideLife", sans-serif;
  line-height: 1.6; }

.like-h2-wh {
  font-size: 36px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  font-family: "RideLife", sans-serif; }

.like-h2-c {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  text-align: center;
  font-weight: 700;
  font-family: "RideLife", sans-serif;
  line-height: 1.6; }

.like-h3-c {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  text-align: center;
  font-weight: 700;
  font-family: "RideLife", sans-serif;
  line-height: 1.86; }

.like-h1-c {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  text-align: center;
  font-weight: 700;
  font-family: "RideLife", sans-serif;
  line-height: 1.2; }

.eye-3 {
  background-color: #ccc;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200; }

.btn {
  outline: none;
  border: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60px;
  background-image: linear-gradient(90deg, #06068f 0%, #00ebf0 100%);
  font-size: 16px;
  font-weight: 600;
  color: white;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 60px;
  padding-right: 60px; }
  .btn:hover {
    text-decoration: none; }

.select2-container {
  width: auto !important; }
  .select2-container .select2-selection--single {
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    border: none;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-right: 0;
      padding-left: 29px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      background: url("../img/arr_d.png") no-repeat center;
      background-repeat: no-repeat;
      background-position: center center;
      height: 3px;
      width: 5px;
      margin-left: 10px;
      display: block;
      position: static;
      margin-right: 29px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-search--dropdown .select2-search__field {
    background: none;
    border: none; }
  .select2-container .select2-results__option {
    padding: 10px 29px;
    border: none; }
  .select2-container .select2-dropdown {
    border-color: #E4E6E8;
    border-radius: 0; }

.pagin-arr,
.swiper-button {
  background-image: url("../img/arr_l.png");
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  width: 48px;
  height: 48px;
  transition: 0.5s; }
  .pagin-arr:hover,
  .swiper-button:hover {
    background-image: url("../img/arr_hov.png"); }

.swiper-button {
  opacity: 1; }
  .swiper-button:after {
    display: none; }

.pagin-arr-r,
.swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.pagin-w {
  width: 100%; }

.pagin-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pagin-li {
  margin: 0 15px; }

.pagin-li-prev {
  margin-right: auto;
  margin-left: 0; }

.pagin-li-next {
  margin-left: auto;
  margin-right: 0; }

.pagin-a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000; }
  .pagin-a.active {
    color: #999999; }

.lazy-bg {
  background: #3c3c3c url("../img/metaball-loader.gif") no-repeat center;
  background-size: 190px; }

.lazy-bg-w {
  background: #fff url("../img/metaball-loader-2.gif") no-repeat center;
  background-size: 90px; }

/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
@media (max-width: 992px) {
  section {
    padding: 60px 0; } }

@media (max-width: 640px) {
  section {
    padding: 50px 0; } }

/**********************/
/**********************/
/**********************/
/**********************/
/**********************/
/**********************/
/**********************/
body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
