@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #E4E6E8;
$ff2: 'RideLife', sans-serif;


@import "_reset.scss";
@import "_fonts.scss";
@import "_header.scss";


.main-cont {

}

.slider-container {
  .swiper-pagination {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    bottom: 101px;
  }
  .swiper-pagination-bullet {    
    margin: 0 8px !important;
    width: 25px;
    height: 26px;
    display: flex;      
    align-items: center;
    justify-content: center;
    background: none;
    margin-bottom: 2px;
    opacity: 1;
    &:after {
      width: 5px;
      height: 5px;
      opacity: 0.5;
      background-color: #FFF;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      content: "";
      display: block;
    }
  }
  .swiper-pagination-bullet-active {
    position: relative;
    background: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
  }  
  
  
}



.slider-pagin {
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-pagin-it-act {
  background-image: url("../img/point.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 18px;
  margin-right: 18px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}

.slider-pagin-it {
  background-image: url("../img/point.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 18px;
  margin-right: 18px;
}

.slider-it {
  position: relative;
  height: 908px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.arrivals-txt {
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  text-align: center;  
  position: absolute;
  bottom: 165px;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: $ff2;
}



.arrivals {
  margin-top: 99px;
}


.arrivals-w {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.arrivals-it {
  width: calc(50% - 20px);
  margin-bottom: 60px;
}

.arrivals-it-img-w {
  margin-bottom: 40px;
  height: 380px;
  overflow: hidden;
  width: 100%;
  display: block;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.arrivals-it-img {
  width: 100%;
}

.arrivals-txt-a {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: $ff2;
}

.arrivals-txt-w {
}

.arrivals-txt-1 {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-bottom: 10px;
}

.arrivals-txt-2 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(14, 120, 191);
  text-align: center;
}

.test-dr {      
  overflow: hidden;
  position: relative;
  height: 799px;
}

.test-dr-txt-1 {
  font-size: 36.1px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: $ff2;
}

.test-dr-txt-2 {
  margin-top: 35px;
  font-size: 22.1px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 40px;
}

.test-dr-txts {
  position: absolute;
  bottom: 107px;
  left: 0;
  width: 100%;
  text-align: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.btn-more-w-2 {
  display: flex;  
  justify-content: center;
}



.calendar-section {
  background-color: rgb(247, 247, 247);
  padding-top: 92px;
  padding-bottom: 97px;
}


.calendar-w {  
}

.calendar-row {
  display: flex;
  align-items: center;  
}

.like-h2-c {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  text-align: center;
  flex-grow: 1;
  font-weight: 700;
}


.calendar-it-w {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.calendar-it {
  width: calc(25% - 30px);
  background-color: rgb(255, 255, 255);
  padding: 39px;
}

.calendar-it-txt-1 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.calendar-date {
}

.calendar-ul {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.calendar-li {
  height: 15px;
  width: calc(100% / 7);
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27.3px;
}

.calendar-li-2 {
  width: calc(100% / 7);
  font-size: 15px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;    
  height: 28px;
}

.calendar-li-a {
  display: flex;
  font-weight: 600;
  color: rgb(14, 120, 191);
  font-size: 15px;  
  align-items: center;    
  justify-content: center;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: "";
    display: block;
    border-radius: 50%;
    background: none;
    border: 1px solid rgb(14, 120, 191);
    width: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28px;
  }
}

.calendar-add {
}



.calendar-it-container { 
 position: relative;
 padding-top: 20px;
 .swiper-button {
   top: 35px;
 }
 .swiper-button-next {
   right: 0;
 }
 .swiper-button-prev {
   right: 80px;
   left: auto;
 }
}

.calendar-add-txt {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-bottom: 16px;
}

.calendar-add-soc-w {
  text-align: center;
}

.calendar-add-soc {
  font-size: 15px;
  font-weight: 600;
  color: rgb(14, 120, 191);
  margin-left: 8px;
  margin-right: 8px;
}



.about {
  display: flex;
}

.about-l {  
  flex-grow: 1;
  margin-right: 232px;
}

.about-p-w {
  margin-top: 50px;
  margin-bottom: 35px;
}

.about-p {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.about-numb-w {
  display: flex;
  margin-bottom: 50px;
}

.about-numb {
  width: 180px;
  margin-right: 100px;
}

.about-numb-txt-1 {
  font-size: 60px;
  font-weight: 100;
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
}

.about-numb-txt-2 {
  font-size: 15px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

.btn-more-ab-row {
  display: flex;
  .btn {
    margin-right: 40px;
  }
}


.about-r {
  flex: none;
  margin-right: 45px;
  height: 633px;
}




.insta-section {
  background-color: rgb(247, 247, 247);  
}



.inst-alb-w {
}

.inst-alb-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.like-h2-l {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.inst-alb-cont-w {
  display: flex;
  align-items: center;
}

.inst-alb-logo {
  background-color: rgb(12, 35, 64);
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/giant_ogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.inst-alb-logo-span {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 52px;
  left: 26px;
  right: 20px;
}

.inst-alb-cont {
  margin-left: 18px;
}

.inst-alb-cont-a {
  font-size: 15px;
  font-weight: 600;
  color: rgb(14, 120, 191);
  display: block;
  margin-bottom: 8px;
}

.inst-alb-cont-txt {
  font-weight: 300;
  color: #999999;
  font-size: 15px;
}

.inst-alb-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inst-alb-post {
  width: calc(25% - 30px);
  margin-bottom: 41px;
  height: 462px;
  display: flex;  
  flex-direction: column;
}

.inst-alb-posts-img-w {
  height: 308px;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex: none;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}



.inst-alb-posts-txt-w {
  background-color: rgb(255, 255, 255);
  padding: 25px 30px 30px 30px;
  flex-grow: 1;
  min-height: 154px;
}

.inst-alb-posts-txt {
  font-size: 15px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  line-height: 1.6;
  display: block;
  margin-bottom: 20px;
}

.inst-alb-like-row {
  display: flex;
}

.inst-alb-like-w {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.inst-alb-like {
  background-image: url("../img/like.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 18px;
  display: block;
}

.inst-alb-comm {
  background-image: url("../img/comm.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  display: block;
}

.inst-alb-like-txt {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  margin-left: 10px;
}

.btn-more-ab-row {
  display: flex;
}

.btn-more-w-ab {
  margin-right: 40px;
}





















.join-form-l {
  p {
    font-size: 15px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
  }
} 

.club-section {
}


.club-w {
  display: flex;  
  justify-content: space-between;
}

.club-it {
  width: calc(50% - 18.5px);
  display: flex;
}

.club-it-l {
  position: relative;
  width: 310px;
  flex: 0 0 auto;
  height: 441px;
  overflow: hidden;
  display: flex;  
  justify-content: center;  
  align-items: center;
  &:before {
    content: "";
    display: block;
    background-image: url("../img/club-border.png");
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.club-it-r {
  flex-grow: 1;
  margin-left: 35px;
}

.club-text {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(0, 0, 0);
  padding: 43px 42px 33px;
  background-color: #f7f7f7;
  position: relative;  
  &:before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -22px;
    top: 0px; /* Положение треугольника */
    border: 22px solid transparent; /* Прозрачные границы */
    border-right: 22px solid #f7f7f7; /* Добавляем треугольник */
    transform: rotate(-90deg);
  }
}



.club-bot {
}

.club-name {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  margin-top: 36px;
  display: block;
  margin-bottom: 11px;
  font-family: $ff2;
}

.club-prof {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
}

.club-coins {
  margin-top: 16px;
}

.coins-3 {
  display: inline-flex;
}

.coins-1 {
  display: inline-flex;
  margin-left: 12px;
}

.privilege-section {
  background-color: #0c2340;
}

.privilege-w {
}


.privilege-slider-container {
  margin-top: 46px;
  position: relative;  
  .swiper-button {
    top: 25px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      border-color: #FFF;
      background: url("../img/arr_l.png");
    }
  }
  .swiper-button-next {
   right: 0;
 }
 .swiper-button-prev {
   right: 80px;
   left: auto;
 }
}

.privilege-slider-wrapper {
  display: flex;
  margin-top: 40px;
}

.privilege-slider-it {
  width: calc(25% - 30px);
}

.privilege-img-w {
  display: block;
  height: 320px;
  width: 100%;
  margin-bottom: 31px;
}

.privilege-txt-1 {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(14, 120, 191);
}

.privilege-txt-2 {
  display: block;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  margin-top: 17px;
}

.privilege-txt-3 {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-top: 17px;
  margin-bottom: 31px;
}

.btn {
}

.join-section {
  background-color: #f7f7f7;
}

.join--w {
}



.join-form-w {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.join-form-l {
  width: calc(50% - 20px);
  background-color: rgb(255, 255, 255);
  padding: 40px 40px 50px;
}

.join-form-tit {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.join-form {
  margin-top: 19px;
  .select2-container {  
    width: 100% !important;
    border: 1px solid #d8dadd;
    .select2-selection--single {    

      .select2-selection__arrow {

      }
      .select2-selection__rendered {

      }
      .select2-selection__arrow {

        b {

        }
      }
    }  
    .select2-search--dropdown {
      .select2-search__field {

      }
    }
    .select2-results__option {

    }
    .select2-dropdown {

    }
  }  
}

input[type="text"].join-form-input {
  height: 40px;
  border: 1px solid rgb(216, 218, 221);
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  width: 100%;
}

.join-form-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.join-form-50 {
  width: calc(50% - 10px);
}

textarea.join-textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 17px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  border: 1px solid rgb(216, 218, 221);
  height: 100px;
}

.join-form-r {
  width: calc(50% - 20px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.join-form-img {
  height: 545px;
  flex: 0 0 auto;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.join-form-r-txts {
  flex-grow: 1;
  padding: 40px;
}

.join-r-tit {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.join-uls-w {
  margin-top: 16px;
  display: flex;
}

.join-ul {
  margin-right: 97px;  
  &:last-child {
    margin-right: 0;
  }
}

.join-li {
  font-size: 15px;
  color: rgb(0, 0, 0);
  line-height: 2;
  font-weight: 300;
  margin-bottom: 0px;
  position: relative;
  padding-left: 15px;
  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    background-color: #0F79BF;
  }
}


@import "_mnu.scss";
@import "_footer.scss";
@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";