@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #E4E6E8;
$ff2: 'RideLife', sans-serif;


@import "_reset.scss";
@import "_fonts.scss";
@import "_header.scss";

.bicyc-wom {
}

.city-stars {
  overflow: hidden;  
  height: 593px;
  position: relative;  
}

.city-stars-txt {
  font-size: 48px;
  position: absolute;
  z-index: 2;
  bottom: 90px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: $ff2;
}

.vid-adv {

}

.vid-adv-w {
  display: flex;  
  justify-content: space-between;
  align-items: stretch;
}

.vid-adv-l {
  font-size: 22px;
  line-height: 1.47;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-right: 75px;
  flex-grow: 1;
  border-top: 1px solid #E4E6E8;
  border-bottom: 1px solid #E4E6E8;
  display: flex;  
  align-items: center;
}

.vid-adv-r {  
  position: relative;
  flex: none;
  width: 656px;
  height: 369px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.vid-adv-play {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/video_play.png");
  background-repeat: no-repeat;
  background-position: center;  
}

.parameters {
  background-color: rgb(247, 247, 247);  
}

.filtr-w {

}

.filtr-choice {
  margin-bottom: 42px;
  .select2-container {
    margin-right: 20px;
  }
}

.filtr-choice-it {
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding-left: 29px;
  padding-right: 29px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;  
}

.filtr-choice-it-txt {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtr-choice-it-span {
  background-image: url("../img/arr_d.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 3px;
  width: 5px;
  margin-left: 10px;
  display: block;
}





.filtr-card-w {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
}

.filtr-card-it {
  background-color: rgb(255, 255, 255);
  width: calc(33.333% - 40px);
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.filtr-card-img-w {
  height: 260px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.filtr-card-info {
  padding: 29px 40px 39px;
}

.filtr-star-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.filtr-star-yell {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
  background-image: url("../img/star_yell-1.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.filtr-star-grey {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
  background-image: url("../img/star_gr.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.filtr-card-txt-w {
  text-align: center;
  margin-bottom: 17px;
}

.filtr-card-txt-1 {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.filtr-card-txt-2 {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.filtr-card-param {
  padding-top: 0px;
  border-top: 1px solid rgb(228, 230, 232);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.filtr-card-param-it-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 19px;
  flex: none;
  width: calc(50% - 50px);
}

.filtr-param-txt-1 {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  margin-bottom: 8px;
  text-align: center;
}

.filtr-param-txt-2 {
  font-size: 15px;
  text-transform: none;
  color: rgb(0, 0, 0);
  text-align: center;
}

.filtr-card-param-it-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid rgb(228, 230, 232);
  border-right: 1px solid rgb(228, 230, 232);
  padding: 19px 4px 0 4px;
  width: 100px;
  flex: none;  
}


.pagin {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
}

.body-city {
  .pagin {
    margin-top: -5px;
  }
}



.btn-more-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}







@media only screen and (max-width : 1366px) {

  .vid-adv-r {
    width: 546px;
    height: 307px;
  }
}
@media only screen and (max-width : 1199px) {


  .city-stars {
    height: 465px;
  }
  .vid-adv-l {
    font-size: 19px;
  }
  .vid-adv-r {
    width: 465px;
  }
  .filtr-card-w {
    margin-left: 0;
    margin-right: 0;
  }
  .filtr-card-it {
    margin-left: 0;
    margin-right: 0;
    width: calc(50% - 20px);
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


  .vid-adv-w {    
    flex-wrap: wrap;
  }
  .vid-adv-l {
    border: none;
    margin-bottom: 36px;
  }

  .filtr-choice .select2-container {
    margin-bottom: 20px;
  }
  .filtr-choice {
    margin-bottom: 22px;
  }
  .filtr-card-it {
    width: calc(50% - 10px);
  }
  .filtr-card-param-it-2 {
    width: 74px;
  }
  .filtr-card-param-it-1 {
    padding: 19px 2px;    
    flex-grow: 1;
    width: auto;
  }
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .filtr-card-it {
    width: 100%; 
  }
  .filtr-card-param-it-2 {
    width: 100px;
  }
}      


@media only screen and (max-width : 640px) {
  /**/ 
} 

@media only screen and (max-width : 570px) {

  .city-stars-txt {
    font-size: 37px;
  }
  .city-stars {
    height: 345px;
  }

}

@media only screen and (max-width : 480px) {
  .top-icon {
    display: none;
  }
  .icon-cart {
    display: block; 
  }
  .vid-adv-r {
    width: 100%;
    height: 247px;
  }
  .vid-adv-play {
    width: 60px;
    height: 60px;  
    background-size: 15px;
  }
  .filtr-choice .select2-container {
    margin-right: 10px;
    margin-bottom: 12px;
  }

  .pagin-li {    
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }

  .city-stars-txt {
    line-height: 1.3;
  }
  .filtr-card-param-it-2 {
    width: 74px;
  }
}

@media (max-width : 375px) {
  /**/
}


@media (max-width : 360px) {
  /**/
}




@import "_mnu.scss";
@import "_footer.scss";
@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";