@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #E4E6E8;
$ff2: 'RideLife', sans-serif;


@import "_reset.scss";
@import "_fonts.scss";
@import "_header.scss";




.wrapper.bord {
}

.route {
  background-color: rgb(247, 247, 247);
  padding-top: 42px;
  padding-bottom: 90px;
}

.contain {
}

.route-w {
}


.route-info {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}



.route-l {
  width: calc(50% - 20px);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.route-r {
  background-color: rgb(255, 255, 255);
  width: calc(50% - 20px);
  padding: 34px 40px 61px 38px;
}

.route-info-2 {
  .route-r {
    padding: 40px 40px 21px 38px;
  }  
  .route-row-33 {
    margin-top: -7px;
  }
}


.route-row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}

.route-row-1-txt {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: $ff2;
}

.route-row-1-logo {
  background-image: url("../img/logo_giant.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 151px;
  display: block;
  height: 26px;
}

.route-row-2 {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  margin-bottom: 35px;
}

.route-row-1-mail {
  font-weight: 600;
  color: #0f79bf;
}

.route-info-w {

}

.route-row-3 {
  margin-bottom: 33px;
  display: flex;
  justify-content: flex-start;
  width: 500px;
}

.route-row-3-info {
  display: flex;
  align-items: flex-start;
  margin-right: 62px;
  &:nth-child(2) {
    margin-right: 0;
  }    
}

.route-flag {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/flag_red.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 17px;
}

.route-flag-green {
  background-image: url("../img/flag_green.png");
}

.route-txt-w {
  margin-left: 19px;
  width: 165px;
  height: auto;
}

.route-txt-1 {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  margin-bottom: 3px;
}

.route-txt-2 {
  font-size: 15px;
  text-transform: none;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.route-time {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/time_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.14;
  margin-top: 16px;
}

.route-rec {
 display: block;
 width: 22px;
 height: 20px;
 background-image: url("../img/rec.png");
 background-repeat: no-repeat;
 background-position: center center;
 opacity: 0.2;
 margin-top: 13px;  
}

.route-btn-w {
  margin-top: 40px;
  width: 100%;
}

.route-clock {
 display: block;
 width: 24px;
 height: 24px;
 background-image: url("../img/clock.png");
 background-repeat: no-repeat;
 background-position: center center;
 opacity: 0.2;
 margin-top: 13px; 
}

.route-per {
 display: block;
 width: 24px;
 height: 24px;
 background-image: url("../img/per.png");
 background-repeat: no-repeat;
 background-position: center center;
 opacity: 0.2; 
}

.route-row-3-info-2 {
  display: flex;
  align-items: center;
  .route-txt-1 {
    margin-bottom: 0;
  }
}

.desc {
  padding-top: 84px;
  padding-bottom: 98px;
}

.desc-w {
}

.desc-row {
  margin-top: 23px;
  display: flex;  
  margin-bottom: 44px;
}

.desc-l {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: calc(50% - 42px);
  margin-right: 79px;
}

.desc-r {
  width: 50%;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(0, 0, 0);  
  p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 13px;
  }
}


.btn-desc-w {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-desc {  
  height: 40px;  
  font-size: 16px;
  font-weight: 600;  
  width: 163px;
  padding: 0 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.route-graph {    
  display: flex;  
  padding-left: 43px;
  width: 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  //outline: 1px solid rgba(#999, 0.4);
}

.route-graph-row {  
  display: flex;
  border-bottom: 1px solid rgba(#999, 0.4);
  border-top: 1px solid rgba(#999, 0.4);
  position: relative;
  width: 100%;
  
  flex-grow: 1;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(#999, 0.4);
    position: absolute;
    bottom: 26px;
    left: 0;
  }
}

.route-graph-col {    
  display: flex;  
  flex-direction: column;          
  justify-content: flex-end;
  height: 52px;
}
.graph-line {
  height: 4px;
  display: inline-block;
  background-color: #0F79BF;
  width: 100%;
}


.route-graph-x {
  display: flex;
  flex-direction: column;
  width: 510px;  
}

.route-x {
  display: flex;
  height: 18px;
  flex: none;
  span {
    font-size: 10px;
    display: flex;
    margin-right: 40px;
    padding-top: 10px;
    &:first-child {
      margin-left: 45px;
    }      
  }
}
.route-y {
  flex: none;
  width: 25px;
  display: flex;  
  flex-direction: column;  
  justify-content: flex-end;
  margin-bottom: 11px;
  span {
    font-size: 10px;
    &:nth-child(1) {      
      margin-bottom: auto;
      margin-top: -4px;
    }
    &:nth-child(2) {
      margin-bottom: 18px;
    }
    &:nth-child(3) {      
    }
  }
}

.route-row-33 {
  margin-bottom: 17px;
  margin-top: 45px;
}

.photo-route {
  background-color: rgb(247, 247, 247);
  padding-top: 86px;
  padding-bottom: 101px;
}

.photo-route-w {
}

.photo-route-albom {
  margin-top: 32px;
  display: flex;  
  width: 100%;   
}

.photo-route-col {
  width: 424px;
  overflow: hidden;  
  display: flex;  
  margin-right: 40px;
  flex-direction: column;  
  flex-grow: 1;  
  justify-content: space-between;  
  &:last-child {
    margin-right: 0;
  }
}

.photo-route-img-w {
  height: 260px;
  display: flex;
  width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}



.photo-route-img-w-big {
  height: 560px;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.btn-more-photo-w {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}















.rating {
  background-color: rgb(12, 35, 64);
  padding-top: 88px;
  padding-bottom: 120px;
  .like-h2-wh-c {
    font-size: 30px;
  }
}



.rating-w {
}

.like-h2-wh {
}

.rating-eva-w {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.rating-eva {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  display: block;
}

.rating-eva-span {
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.rating-eva-point {
  width: 3px;
  height: 3px;
  width: 2px;
  height: 2px;
  background-color: #999;
  margin-left: 10px;
  margin-right: 10px;
}

.rating-star-w {
  align-items: center;
  justify-content: center;
  display: flex;
}

.rating-star {
  border-top: 1px solid rgb(62, 80, 103);
  width: 669px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-star-it {
  padding-top: 41px;
  padding: 40px 10px 0 10px;
  width: 33%;
}

.rating-star-it-2 { 
  border-left: 1px solid rgb(62, 80, 103);
  border-right: 1px solid rgb(62, 80, 103);  
}

.rating-star-it-txt {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.rating-star-it-row {
  margin-top: 17px;
  display: flex;
  justify-content: center;
}

.sr-rating {
 display: flex; 
 justify-content: center; 
 margin-bottom: 25px;
 .rating-star-it {
   text-align: center;
   width: 100%;
 }
}

.rating-star-yell-a {
  background-image: url("../img/star_yell-1.png");
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  width: 19px;
  height: 19px;
  margin-left: 6px;
  margin-right: 6px;
}

.rating-star-gr-a {
  background-image: url("../img/star_gr.png");
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  width: 19px;
  height: 19px;
  margin-left: 6px;
  margin-right: 6px;
}











.calend {
  padding-top: 86px;
  padding-bottom: 76px;
  .like-h2-c {
    font-size: 30px;
  }
}


.calend-w {
  display: flex;
  justify-content: center;
}

.calend-w-2 {
  max-width: 888px;
}

.like-h2-c {
}

textarea.calend-textarea {
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 19px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  border: 1px solid rgb(216, 218, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 50px;
}

.calend-btn-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
  width: 100%;
}

.calend-form {
  border-bottom: 1px solid rgb(235, 236, 238);
  margin-bottom: 48px;
}





.calend-com-w {
  width: 100%;
}

.calend-txt-1 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
  font-family: $ff2;
}

.calend-com-review-w {
  margin-top: 47px;
}

.calend-com-review {
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calend-com-review-reverse {
  .calend-com-partic {
    margin-right: 0;
    margin-left: 61px;
    width: 133px;
  }
}

.calend-com-review-item {
  border-bottom: 1px solid #ebecee;  
  margin-bottom: 52px;
  padding-bottom: 23px;
  &:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.calend-com-partic {
  width: 150px;
  flex: none;
  margin-right: 41px;
}

.calend-partic-ava {
  width: 90px;
  height: 127px;
  position: relative;
  margin-bottom: 15px;
  display: flex;  
  justify-content: center;
  overflow: hidden;
  align-items: center;
  -webkit-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bg_photo.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 90px;
    height: 127px;                
    background-size: cover;
  }    
}

.calend-partic-txt-1 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: $ff2;
}

.calend-partic-txt-2 {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  margin-bottom: 10px;
}

.calend-partic-img-w {

  background-repeat: no-repeat;
  background-position: left top;
}

.calend-review {  
  flex-grow: 1;
  padding: 33px 40px 40px;
  background-color: rgb(247, 247, 247);
  position: relative;    
  &:before {
    content: ''; 
    position: absolute;
    left: -22px;
    top: 0px;
    border: 22px solid transparent;
    border-right: 22px solid #f7f7f7;
    transform: rotate(-90deg);
  }
  &.calend-review-reverse {
    padding-top: 36px;
    &:before {    
      left: auto;
      right: -22px;    
    } 
  }  
}

.calend-review-txt {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
}

.calend-review-btn {
  font-size: 15px;
  font-weight: 300;
  color: rgb(14, 120, 191);
  margin-top: 11px;
  display: inline-block;
}

.calend-review-txt-2 {
  font-size: 15px;
  font-weight: 300;
  color: rgb(153, 153, 153);
  margin-bottom: 4px;
}

@media (max-width : 1367px) {
  .route-graph {
    padding-left: 0;
    
  }
  .route-graph-x {
    width: 461px;
    width: 510px;
  }
  .route-r {
    width: 656px;
  }
  .route-l {
    flex-grow: 1; 

    margin-right: 30px;
  }
}
@media (max-width : 1199px) {
  .route-info {  
    flex-wrap: wrap;
  }

  .route-r {
    width: 100%;
  }
  .route-l {
    height: 350px;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .route-graph {    
    justify-content: flex-start;
  }
}

@media (max-width : 992px) {
  .photo-route-col {
    margin-right: 20px;
  }
  .photo-route-img-w-big {
    height: 544px;
  }
}

@media (max-width : 768px) {
  .route-l {
    max-width: 375px;
    width: 100%;
  }
  .route-graph-x {
    width: 430px;
    width: 510px;
  }
  .route-x span {
    margin-right: 36px;
    margin-right: 40px;
  }
  .desc-row {    
    flex-wrap: wrap;
  }
  .desc-l {
    margin-bottom: 25px;
    font-size: 18px;
  }
  .desc-l,
  .desc-r {
    width: 100%;
    margin-right: 0;
  }
  .route-graph-scroll {    
    overflow: auto;
    width: 100%;    
  }


  .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    height: 3px;
  }

  .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(#21b42c, 0.6);
    height: 3px;
  }

  .mCS-dark-3.mCSB_scrollTools .mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(#21b42c, 0.6) !important;
  }
  .route-y span:nth-child(1) {
    margin-top: 0px;
  }
  .route-y span:nth-child(2) {

  }
  .route-info-2 .route-r {
    padding: 30px;
  }
  .route-graph {
    padding-left: 0;
  }
  .route-r {
    padding: 30px;
  }
  .photo-route-img-w-big {
    height: 394px;
  }
  .photo-route-img-w {
    height: calc(50% - 10px);
  }
  .route-graph {
    width: 575px;
  }
  .route-graph-x {
    width: 550px;
    width: 510px;
  }
}

@media (max-width : 640px) {



}

@media (max-width : 570px) {
  .route-row-3 {  
    flex-wrap: wrap;
  }
  .route-row-3-info {
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .route-row-33 {
    margin-bottom: 25px;
  }
  .photo-route-albom {    
    flex-wrap: wrap;
  }
  .photo-route-col {
    width: calc(50% - 10px);
    flex: none;
    &:nth-child(2n) {
      margin-right: 0;
    }    
  }
  .photo-route-img-w {
    height: 200px;
    margin-bottom: 20px;
  }
  .photo-route-col {
    width: 100%;
  }
  .photo-route-img-w-big {
    height: 200px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .rating-star-yell-a,
  .rating-star-gr-a {
    width: 10px;
    height: 10px;    
    background-size: 10px;
    margin: 0 3px;
  }
  .rating-star-it-row {
    margin-top: 10px;
  }
  .rating-star-it-txt {
    font-size: 14px;
  }
  .rating-star-it {
    padding-top: 15px;
  }
  .btn-desc-w {
    flex-wrap: wrap;
    .btn {
      width: 100%;
      margin-bottom: 15px;      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width : 480px) {
  .route-row-1 {  
    flex-wrap: wrap;
  }
  .route-row-1-txt {
    width: 100%;
    margin-bottom: 25px;
  }
  .route-row-1 {
    margin-bottom: 25px;
  }
  .calend-com-partic {
    margin-right: 0;
    
  }
  .calend-com-review {    
    flex-wrap: wrap;
  }
  .calend-review {
    margin-top: 25px;
    padding: 30px;
  }
  .calend-review:before {
    transform: rotate(90deg);
    left: 0;
    top: -44px;
  }
  .calend-com-review-reverse {
    .calend-com-partic {
      margin-left: 0;
      order: -1;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      display: flex;    
      flex-direction: column;    
      align-items: flex-end;
      width: 100%;
    }
    .calend-review:before {
      right: 0;
    }
  }


}

@import "_mnu.scss";
@import "_footer.scss";
@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";