@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #E4E6E8;
$ff2: 'RideLife', sans-serif;


@import "_reset.scss";
@import "_fonts.scss";
@import "_header.scss";






.desc {
  padding-top: 84px;
  padding-bottom: 98px;
}

.desc-w {
}

.desc-row {
  margin-top: 23px;
  display: flex;  
  margin-bottom: 44px;
}

.desc-l {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: calc(50% - 42px);
  margin-right: 79px;
}

.desc-r {
  width: 50%;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: rgb(0, 0, 0);  
  p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 13px;
  }
}






.test-dr {
  background-color: rgb(247, 247, 247);
  padding-top: 42px;
  padding-bottom: 101px;
}

.contain {
}

.test-dr-w {
}

.like-h1-c {
}

.test-dr-row {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.test-dr-l {
  width: 656px;
  display: flex;
  flex: none;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  
}

.test-dr-r {  
  flex-grow: 1;
  display: flex;  
  background-color: rgb(255, 255, 255);
  padding: 38px 40px 40px 42px;
  overflow: hidden;
  margin-left: 41px;
}

.test-dr-info {
  flex-direction: column;
  width: 100%;
}

.test-dr-txt-1 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: $ff2;
}

.test-dr-txt-w {
  margin-top: 25px;
  margin-bottom: 9px;
  table {
    width: 100%;
    max-width: 550px;
    td {      
      padding-bottom: 15px;
      &:nth-child(1) {
        width: 222px;
        font-size: 15px;
        font-weight: 300;
        color: rgb(153, 153, 153);      
      }

      &:nth-child(2) {
        width: calc(100% - 222px);
        font-size: 15px;
        font-weight: 300;
        color: rgb(0, 0, 0); 
        padding-left: 8px;     
      }
    }
  }
}

.dots {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) 0 80% repeat-x;
  span {
    background: #fff;
    padding-right: 21px;
  }
}

.test-dr-txt-row {
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
}



.test-dr-charact-a {
  color: rgb(14, 120, 191);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 35px;
  display: block;
}









.choice {
  background-color: rgb(247, 247, 247);
  padding: 0;
}

.choice-l {  
  width: 50%;
  padding: 110px 0 50px 0;
  padding-left: calc(((100vw - 1352px) / 2) );
  
}

.choice-w {
  display: flex;
}

[class*="ymaps-2"][class*="-ground-pane"]
{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter:grayscale(100%);
}


.choice-r {
  height: 600px;
  width: 50%;
  overflow: hidden;
  position: relative;
}

.stores-map {
  height: 100%;
  width: 50vw !important;
  position: absolute;
  left: 0;
  top: 0;
}

.choice-txt-1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  width: 100%;
  line-height: 1.3;
  font-family: $ff2;
}

.choice-form {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px;
  max-width: 560px;
  .select2-container {
    width: 100% !important;
    .select2-selection--single {
      border: 1px solid #d8dadd;
      .select2-selection__arrow {
        margin-right: 20px;
      }
      .select2-selection__rendered {
        padding-left: 20px;
      }
    }    
  }    
}

.choice-input-w {
  display: flex;
  width: 100%;
  margin-top: 19px;  
  justify-content: space-between;
  .select2-container {
    width: calc(50% - 10px) !important;
  }
}

.choice-input-1 {  
}



.choice-form-btn-w {
  margin-top: 49px;
}

input[type="text"].w-input-text-2 {
  width: calc(50% - 10px);
  height: 41px;
  border: 1px solid rgb(216, 218, 221);
  background-color: rgb(255, 255, 255);
  padding: 15px 16px 13px;  
  font-size: 15px;
  font-weight: 300;
  color: #999999;
}


.desc-test {
  padding-top: 91px;
  padding-bottom: 50px;
}

@media (max-width : 1366px) {
  .test-dr-l {
    width: 616px;
  }
  .test-dr-txt-w table td {
    line-height: 1.2;    
    vertical-align: bottom;
    margin-top: 10px;
  }
  .test-dr-txt-w table td:nth-child(1) {
    width: 162px;
  }
  .choice-l {
    padding-left: calc(((100vw - 1170px) / 2));
  }
  .choice-form {
    max-width: 520px;
  }
}

@media (max-width : 1199px) {
  .test-dr-row {    
    flex-wrap: wrap;
  }
  .test-dr-l {
    margin-bottom: 25px;
  }
  .test-dr-r {
    margin-left: 0;
  }
  .test-dr-l {
    width: 100%;
  }
  .choice-l {
    padding-left: calc(((100vw - 970px) / 2));
  }
  .choice-form {
    max-width: 420px;
  }
  .test-dr-txt-w table {
    width: 100%;
    max-width: 100%;
  }
  .test-dr-txt-w table td:nth-child(1) {
    width: 50%;
  }
  .test-dr-txt-w table td:nth-child(2) {
    width: 50%;
  }
}

@media (max-width : 992px) {
  .choice-l {
    padding-left: calc(((100vw - 750px) / 2));
  }
  .choice-form {
    max-width: 330px;
  }
  .choice-input-w .select2-container {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .choice-input-w {    
    flex-wrap: wrap;
  }
  .choice-form-btn-w {
    margin-top: 10px;
  }
  section.choice {
    padding: 0;
  }
}

@media (max-width : 768px) {
 .desc-row {    
  flex-wrap: wrap;
}
.desc-l {
  margin-bottom: 25px;
  font-size: 18px;
}
.desc-l,
.desc-r {
  width: 100%;
  margin-right: 0;
}
section.desc-test {
  padding-bottom: 20px;
}
.choice-w {  
  flex-wrap: wrap;
}
.choice-l {
  width: 100%;
  padding: 0 15px;
}
.choice-r {
  width: 100%;
}
.stores-map {
  width: 100% !important;
}
.choice-r {
  height: 330px;
}
section.choice {
  padding-top: 50px;
}
.choice-form {
  max-width: 100%;
}
}
@media (max-width : 640px) {
  .test-dr-l {
    height: 200px;
    img {
      max-width: 90%;
      max-height: 90%;
      height: auto;
    }    
  }
}
@media (max-width : 570px) {
  section.desc-test {
    padding-bottom: 0;
  }
}
@media (max-width : 480px) {
  .test-dr-r {
    padding: 30px;
  }
  .test-dr-info {
    .btn {
      padding: 0 5px;
      width: 100%;
    }
  }
  .test-dr-txt-1 {
    line-height: 1.2;
  }
  .test-dr-txt-w table td:nth-child(1),
  .test-dr-txt-w table td:nth-child(2) {
    font-size: 14px;    
  }
  .choice-form-btn-w {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .choice-txt-1 {
    font-size: 27px;
  }
}

@import "_mnu.scss";
@import "_footer.scss";
@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";