.footer {
  background: rgb(8, 8, 8);
  padding-top: 107px;
}

.footer-row-1 {
  padding-bottom: 42px;
}

.contain {
}

.footer-row-w-1 {
  display: flex;  
}

.footer-col-1 {
  width: 230px;
  flex: 0 0 auto;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 112px;
}

.f-logo-1 {
  display: block;
  width: 120px;
  height: 21px;
}

.f-logo-2 {
  display: block;
}

.footer-col-2 {
  margin-right: 241px;
}

.footer-tit {
  font-size: 13.1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  margin-bottom: 26px;
}

.footer-ul {
  margin-bottom: 37px;
}

.footer-li {
  margin-bottom: 15px;
}

.footer-a {
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  color: rgb(255, 255, 255);
}

.footer-col-3 {
  margin-right: 203px;
}

.footer-col-4 {
}

.footer-feed {
}

.footer-feed-tit {
  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.footer-feed-form {
  display: flex;
  position: relative;
  max-width: 235px;
}

input[type="text"].footer-feed-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgba(204, 204, 204, 0.25);
  padding-top: 5px;
  padding-bottom: 16px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);  
  height: auto;  
  width: 100%;
}

.footer-feed-btn {
  width: 14px;
  height: 14px;
  display: block;
  background: none;
  border: none;
  outline: none;
  font-size: 0;
  opacity: 0.24;
  background-image: url("../img/enter_arrow.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  top: 3px;
  right: 0px;
  
}

.footer-teleg {
  margin-top: 40px;
}

.footer-teleg-tit {
  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 7px;
}

.teleg-link {
}

.footer-col-5 {  
  margin-left: auto;
  margin-right: 80px;
  padding-top: 5px;
}

.adress-tit {
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  line-height: 2;
}

.adress-it-1 {
  margin-top: -14px;
}
.adress-it-2 {
  margin-top: -13px;
}

.adress-text {
  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 2;
  margin-bottom: 12px;
}

.adress-w {
  margin-top: 18px;
}

.footer-row-2 {
  border-top: 1px solid rgba(204, 204, 204, 0.14);
  padding-top: 29px;
  padding-bottom: 27px;
}

.footer-row-w-2 {
  display: flex;
  justify-content: space-between;
}

.copy {
  opacity: 0.25;  
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.foot-socs {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.foot-soc {
  display: inline-block;
  margin-left: 30px;
  opacity: 0.24;  
  transition: 0.5s;
  &:hover {
    opacity: 1;
  }
}

@media (max-width : 1820px) {
  .footer-row-w-1 {  
    justify-content: space-between;
    display: flex;
  }
  .footer-col {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-col-1 {
    margin-left: 0;
  }
  .footer-col-5 {
    margin-right: 0;
  }
}

@media (max-width : 1366px) {
  .footer-row-w-1 {  
    flex-wrap: wrap;    
    align-items: flex-start;    
    justify-content: flex-start;
  }
  .footer-col {

  }
  .footer-col-1 {  
    flex-wrap: wrap;          
    align-items: flex-start;
    width: 130px;
    margin-right: 30px;

  }
  .f-logo-1,
  .f-logo-2 {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 24px;    
  }
  .footer-col-5,
  .footer-col-4 {

  }
  .footer-col-2 {

  }
  .footer-col-3 {

  }
  .footer-col-4 {

   width: 173px;
 }
 .footer-col-5 {
   margin-left: auto;  
 }
 
}

@media (max-width : 1199px) {

  /*
  .footer-col-4 {
    order: -1;
  }
  .footer-col-1 {
    order: -2;
  }
  .footer-row-w-1 {    
    flex-wrap: wrap;
    } */
  }
  @media (max-width : 992px) {
    .footer-row-w-1 {  
      justify-content: space-between;
    }
    .footer-col {
      width: calc(33.333% - 10px);
      margin-left: 0;
      margin-right: 0;
    }
    .footer-col-4 {
      display: none;
    }
    .footer-col-3 {
      width: 100%;
      margin-top: 17px;
    }
    .footer {
      padding-top: 60px;
    }

    .footer-feed,
    .footer-teleg {
      display: none;
    }

  }

  @media (max-width : 570px) {
    .footer-feed-form {
      width: 100%;
    }
    .footer-col {
      width: calc(50% - 10px);
    }
    .footer-col-3 {
      width: 100%;
    }
    .footer-col-4 {

    }
    .footer-col-5 {
      width: 100%;
      display: flex;      
      justify-content: space-between;      
    }
    .adress-its,
    .adress-w {
      width: calc(50% - 10px);
    }
    .adress-w {
      margin-top: 0;
    }
    .adress-it-1 {
      margin-top: 0;
    }
  }

  @media (max-width : 480px) {
    .footer-row-w-2 {  
      flex-wrap: wrap;
    }
    .foot-socs {
      margin-top: 15px;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
    }
    .foot-soc {
      margin: 0 15px;
    }
    .copy {
      text-align: center;
    }
    .footer-col {
      
    }
    .f-logos {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
    .footer-col-3 {
      margin-top: 0;
    }
    .footer-tit {
      margin-bottom: 20px;
    }
    .footer {
      padding-top: 40px;
    }
    .footer-row-1 {
      padding-bottom: 22px;
    }
  }

  @media (max-width : 360px) {
  .footer-a,
  .adress-text {
    font-size: 13px;
  }
  .footer-tit,
  .adress-tit {
    font-size: 12px;
  }
  }