.top-1 {
  height: 60px;
  display: flex;
  align-items: center;
}

.top-1-w {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 240px;
  align-items: center;
}

.logo-img {
  width: 50px;
}

.logo-txt {
  display: inline-block;
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  color: #929ca2;
}

.top-link-w {
  margin-left: auto;
}

.top-link {
  display: inline-block;
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  color: #929ca2;
}
.header {
  position: relative;
}
.top-2 {
  background-color: rgb(12, 35, 64);  
  display: flex;
  align-items: center;
  height: 60px;
}

.top-2-w {  
  display: flex;
  align-items: center;  
}

.logo-2 {
}

.col-mnu {
  margin: auto;
}

.hidden-mnu {

}

.toggle-mnu {
}

.top-mnu-ul {
  display: flex;
  align-items: center;
}

.top-mnu-li {  
  margin: 0 34px;
}

.top-mnu-a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.top-icons {
  display: flex;
  align-items: center;
}

.top-icon {
  margin-left: 30px;
  height: 18px;  
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
  svg {
    max-height: 100%;
    width: auto;
  }
}

.icon-compare {
  margin-left: 0;
}

.icon-search {

}

.icon-login {

}

.icon-cart {

}

.top-3 {
  height: 60px;
  display: flex;
  align-items: center;
}

.top-3-w {
  display: flex;
  align-items: center;
}

.top-3-ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.top-3-li {
  margin: 0 30px;
}

.top-3-a {
  font-size: 16px;
  font-weight: 600;
  color: #0e78bf;
  &.par {  
    display: flex;
    align-items: center;
  }
  &:hover {
    color: #999;
    text-decoration: none; 
  }
}



.span-par {
  width: 7px;
  height: 7px;
  display: block;
  background-image: url("../img/arr-b-bl.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 7px;
}

@media only screen and (max-width : 1366px) {

  .top-mnu-li {
    margin: 0 22px;
  }
}

@media only screen and (max-width : 1199px) {

  .top-mnu-li {
    margin: 0 15px;
  }
  .top-mnu-a {
    font-size: 11px;
  }
}

@media (max-width : 992px) {
  .top-mnu-ul,
  .top-mnu {
    display: none;
  }

  .top-mnu-inn {
    display: flex;
    margin-top: 40px;    
  }    
  .top-mnu {
    padding-left: 0;
    padding-right: 0;
    .top-3 {   
      display: block;    
      height: auto;     
    }
    .top-3-ul {
      display: block;
    }
    .top-3-li {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      margin-left: 0;
      margin-right: 0;
    }

    .top-mnu-ul-2 {    
      display: block;
      margin-bottom: 20px;
      margin-right: 40px;
    }
    .top-mnu-li {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      margin-left: 0;
    }
    .top-mnu-a {
      font-size: 16px;
    }
  }


  .top-3 {
    display: none;
  }
  .col-mnu {
    margin-left: 30px;
  }

  .top-3-a {
    color: #FFF;
  }
}

@media (max-width : 480px) {
  .top-mnu-inn { 
    justify-content: space-between; 
  }
  .top-mnu .top-mnu-ul-2 {
    margin-right: 0;    
  }
  .top-mnu .top-mnu-ul-2,
  .top-mnu .top-3-ul {
    width: calc(50% - 10px);
  }
    .top-mnu .top-mnu-a {
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0px;
  }
  .top-link {
    font-size: 12px;
  }
  .top-link-w {
   display: none; 
  }
  .col-mnu {
    margin-left: auto;
    margin-right: 20px;
  }
  .icon-cart {
    margin-left: 0;
    height: 30px;    
  }
}

@media (max-width : 375px) {
/**/
}
